.message {
    font-family: sans-serif;
    color: white;
    margin-bottom: 20px;
}

.imageAndText {

    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}

.imageAndText img {
    order: 2;
    width: 40px;
    /*height: 40px;*/
    align-self: end;
}

.text {
    order: 1;
    background: rgba(0, 0, 255, 0.48);
    border-radius: 8px 8px 0 8px;
    padding: 7px;
    margin-right: 10px;
    position: relative;
}

.text:after {
    content: '';
    position: absolute;
    display: block;
    border-right: 20px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 255, 0.48);
    bottom: 0;
    right: 0;
    transform: translateX(100%);
}

.name {
    text-align: right;
}

.messageText {
}

.time {
    color: black;
    font-size: 11px;
    text-align: right;
    padding-right: 8px;
}