.buttonsContainer {
    display: flex;
    margin-bottom: 34px;
}

.button {
    width: inherit;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 24px;
    font-size: 14px;
    font-weight: bold;
}

.button:active {
    width: inherit;
}
.button:disabled {
    border: 1px solid rgba(0, 0, 255, 0.55);
}

.responseContainer {
    display: flex;
    /*border: 1px solid red;*/
    min-height: 320px;
    padding-left: 96px;
}

.imageContainer {
    width: 451px;
    margin-right: 94px;
    /*border: 3px solid hotpink;*/
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: end;
}

.image {
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 2px solid blue;*/
    width: 650px;
}

.code {
    /*border: 2px solid black;*/
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 12px;
}

.text {
    font-size: 16px;
}

.info {
    font-size: 16px;
}