.loader {
    /*свг и/или анимация*/
    width: 90px;
    height: 90px;
    background-image: url("Ellipse 4.png");
    animation: circle linear 1s infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}