.radio {
    margin-right: 10px;
    position: relative;
}

.radio::before {


}


.radio:checked::before {
}

.label {
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.span {
}