.buttonsContainer {
    border: 2px solid red;
    margin-bottom: 200px;
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.editableSpanContainer {
    /*border: 2px solid green;*/
    width: 250px;
    margin-bottom: 20px;
}

.buttonsave {
    width: 87px;
    height: 32px;
}

.buttonrestore {
    width: 96px;
    height: 32px;
}