.item {
    border-bottom: 1px solid rgba(169, 169, 169, 0.63);
}

.item:last-of-type {
    border-bottom: none;
}

.users {
border-collapse: collapse;
    border: 2px solid black;
}

.buttonsContainer {
    display:flex;
    gap: 10px;
    border: 2px solid red;
    width: 55%;
    align-self: flex-end;
}

.container {
border-radius: ;
    border: 3px solid orange;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.thead {
    background: rgba(169, 169, 169, 0.63);
}

.nameCol {
    padding: 5px 15px;
    width: 50%;
}

.ageCol {
    font-weight:bold;
}