.item {
}

.item:last-of-type {
}

.users {

    border: 2px solid black;
}

.buttonsContainer {
    display:flex;
    gap: 10px;
    border: 2px solid red;
    width: 55%;
    align-self: flex-end;
}

.container {

    border: 3px solid orange;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.thead {
}

.nameCol {
}

.ageCol {
}