.spanBlock {
    /*border: 2px solid orange;*/
    display: flex;
    align-items: center;
    height: 34px; /*такова высота инпута. Если убрать,то при вызове инпута будет смещаться вниз контент с кнопками*/
}

.span {
    color: #227bf1;
    font-family: sans-serif;
    cursor:default;
}

.input {
    padding-left: 15px; /*чтобы при фокусе смещался курсор на некоторое расстояние вправо. Если задать padding-left в листе суперИнпута для input:focus, то это повлияет вообще на все инпуты*/
}

.pen {
    margin-right: 20px;
}