.sendForm {
display: flex;
    justify-content: space-between;
}

.textarea {
    padding: 7px 25px;
    flex: 1 0 auto;
    margin-right: 50px;
    background: rgba(221, 0, 255, 0.15);
    border-radius: 15px;
    border: none;
    box-shadow: 0 2px rgba(221, 0, 255, 0.58);
    min-height: 29px;
    overflow: hidden;
    resize:none;
    outline: none;

}

.button {
    background: blue;
    padding: 7px 25px;
    color: white;
    border-radius: 15px;
    border: none;
    flex: 0 0 auto;
    /*font-size: 14px;*/
}

.button:hover {
    background: #00cc22;
    box-shadow: 0 0 10px #cc9c00;
}

.button:active {

}
